@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
  font-family: 'ABeeZee', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fffaf1;
  height: 100vh;
}

.parent-container {
  height: 90vh;
  width: 80vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}